.container {
    display: flex;
    flex-direction: column;
    margin: 30px;
}

.message {
    color: slateblue;
}

.connection {
    color: red;
}

.close {
    height: 30px;
    width: 100px;
    border-radius: 5px;
    padding: 5px;
    border: 1px solid orangered;
    color: orangered;
    font-weight: 600px;
}

.close:hover {
    cursor: pointer;
    background-color: navajowhite;
}